<div class="row">
    <div class="offset-3 col-5">
        <div class="mt-20" style="border: 1px solid gray; z-index: 1, box-shadow: 2px 3px gray; padding: 0.3em 0.3em; margin: 10px 20px">
            <h1>Register Here</h1>
            <%= render 'form', user: @user %>

            <h4><%= link_to 'Log In', login_url %> if you own Account </h4>
        </div>
    </div>
</div>