<h1>Catalog Page</h1>
<div class="row">
    <% @products.each do |p|%>
    <div class="col-3">
        <div class="card" style="width: 18rem; margin-bottom: 10px">
            <%= image_tag  href="https://picsum.photos/200/140?grayscale" , class: "card-img-top" , alt: "Product Image" %>
            <div class="card-body">
                <h5 class="card-title"><%= sanitize(p.name) %> </h5>
                <p class="card-text"><%= sanitize(p.description) %></p>
                <h6 class="card-text"><b>N<%= number_to_currency(p.price)%></b></h6>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    </div>
    <%end%>
</div>